.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  color: white;
}

.App-conteudo {
  color: white;
}

.App-div-aplicacao {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.App-label-aplicacao {
  margin-right: 1rem;
}